<%- include('imports') -%>
<%- include('nav') %>
<h1>Welcome to the homepage</h1>
<ul>
    <% for (post of showPosts.reverse()) { %>
        <li>
                
                <%- include('postPreviews/home.ejs', { i, name, creator } = post) -%>
        </li>
    <%}%>
    
</ul>
