:root{
    --header-height: 3rem;

    /*Main Colors*/
    --first-color: #9D4DFE;
    --first-color-dark: #37017A;
    --text-color: #543B25;
    --first-color-light: #424b55;
    --first-color-lighten: #E0E0E1;
    --first-color-lighten2: #6cbede;
    --other-color: #e4572e;

    /* Font edits */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===== Margenes ===== */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* ===== z index ===== */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;

}

@media screen and (min-width:812px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--header-height) + 50px);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  h1 {
    order: -1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  #ingredients-container {
    margin-bottom: 10px;
  }
  
  .ingredient {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  #add-ingredient-btn {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #add-ingredient-btn:hover {
    background-color: #3e8e41;
  }
  
  button[type="submit"] {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  